[submodule "lib/libft"]
	path = lib/libft
	url = git@gitlab.com:Z-Map/libft.git
[submodule "lib/mglw"]
	path = lib/mglw
	url = git@github.com:Z-Map/mglw.git
[submodule "lib/mathex"]
	path = lib/mathex
	url = git@gitlab.com:Z-Map/mathex.git
