[submodule "lib/libft"]
	path = lib/libft
	url = https://gitlab.com/Z-Map/libft.git
[submodule "lib/mglw"]
	path = lib/mglw
	url = https://github.com/Z-Map/mglw.git
[submodule "lib/mathex"]
	path = lib/mathex
	url = https://gitlab.com/Z-Map/mathex.git
